<form id="new-item-form" action="/home" method="POST">
  <fieldset class="large-12 columns">
    <legend class='small-title'>Bostonian to English</legend>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-11 columns">
            <input id="phrase-field" type="text" placeholder="Hex Value">
          </div>
          <div id="translate-button" class="small-1 columns">
            <a href="/home" class="button postfix">Translate</a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
