<form id="translations-form" action="#">
  <fieldset class="large-12 columns">
    <legend class='small-title'>Bostonian to English</legend>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-11 columns">
            <input id="phrase-field" type="text" placeholder="Hex Value">
          </div>
          <div class="small-1 columns">
            <input type="submit" id="translate-button" class="button postfix" value="Translate">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<fieldset id="translations-block" class="large-12 columns">
<div id="clean-list-button" class="small-1 columns"><p class="button postfix">X</p></div>
  <legend class="small-title">Translations</legend>
  <ul id="translations-list">
  </ul>
</fieldset>
