/* Let's put some makeup! */
/* colors => blue: #0D254C, silver: #D6D6D6, red: #C80815 */
body {
  background-image: url(http://sadmuffin.net/cherrybam/graphics/quotes-inspiration/inspiration045.gif);
  background-position: right bottom;
  background-repeat: no-repeat;
}
#large-title {
  color: #0D254C;
  padding-left: 90px;
  background-image: url("/src/New_England_Patriots_logo.svg");
  background-repeat: no-repeat;
  background-position: -0.4em;
  background-size: 3em;
}

.small-title {
  color: #C80815;
  font-weight: normal;
}

.button {
  background-color: #0D254C;
}

#translations-block {
  margin-top: 20px;
}
fieldset {
  padding-top: 20px;
}

.translation-line,
#translations-block {
  display: none;
  list-style: none;
}

.translation-line{
  margin-top: 10px;
  padding-left: 2em;
  background-image: url("/src/New_England_Patriots_logo.svg");
  background-repeat: no-repeat;
  background-position: -0.4em;
  background-size: 1.7em;
}

#clean-list-button {
  float: right;
  margin: -1.89em;
  margin-top: -2em;
}
